.kanban-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.kanban-column__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6rem;
}

.kanban-column__title {
    font-size: 1rem;
    font-weight: 500;
}

.kanban-column__counter {
    padding: 0.4rem;
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    font-size: 0.8rem;
    border-radius: 0.2rem;
}

.kanban-column__content {
    flex: 1;
    overflow-y: auto;
    max-height: 100%;
    width: 100%;
    padding: 0.8rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
}

.kanban-column__cards {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media (min-width: 768px) {
    .kanban-column__header {
        margin-bottom: 0.8rem;
    }

    .kanban-column__title {
        font-size: 1.2rem;
    }

    .kanban-column__content {
        padding: 1rem;
    }
}