.btn {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    font-family: inherit;
    cursor: pointer;
    border: none;
}

.btn--primary {
    background-color: var(--primary-button-color);
    color: var(--secondary-button-color);
}

.btn--primary span {
    white-space: nowrap;
}

.btn--primary:hover {
    opacity: 0.9;
}

.btn--secondary {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border: 1px solid var(--primary-border-color);
}

.btn--secondary:hover {
    background-color: var(--secondary-color);
}

.btn__icon {
    display: inline-flex;
}

.btn__icon svg {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
}

@media (min-width: 768px) {
    .btn {
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
        gap: 0.5rem
    }
}