.dashboard {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.2rem;
    width: 100vw;
    height: 100vh;
}

.dashboard__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.6rem;
}

.dashboard__title {
    font-size: 1.4rem;
}

.dashboard__grid {
    display: flex;
    flex: 1;
    min-height: 0;
    width: 100%;
}

.dashboard__grid .app {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: flex-start;
    width: 100%;
}

#add-task-btn-container {
    display: contents;
}

@media (min-width: 768px) {
    .dashboard {
        padding: 2rem;
        gap: 1rem;
    }

    .dashboard__header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .dashboard__title {
        font-size: 1.6rem;
    }

    .dashboard__grid .app {
        flex-direction: column;
        gap: 2rem;
    }
}

@media (min-width: 1024px) {
    .dashboard {
        padding: 2rem;
    }

    .dashboard__grid .app {
        flex-direction: row;
    }
}